@font-face {
  font-family: "Tahoma";
  src: url("/fonts/tahoma/subset-Tahoma.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TahomaBold";
  src: url("/fonts/tahoma/subset-Tahoma-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "Tahoma", system-ui, sans-serif;
  background: #ffffff;
  background-size: 224px;
  cursor: url("/assets/cursor.ico"), default;
}

button,
a {
  cursor: url("/assets/cursor-pointer.ico"), pointer !important;
}

.title-bar {
  height: 28px;
  font-size: 14px;
}

.title-bar-controls button {
  min-width: 21px;
  min-height: 22px;
  margin-left: 2px;
  background-position: 50%;
  image-rendering: auto;
}

.title-bar-text > p {
  margin-left: 0.4em;
}

.window {
  font-size: 1.1em;
}

/* Gradient background - based on https://codepen.io/coreh/pen/LQJBLa?editors=1100 */
.crt::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-blend-mode: multiply;
  background: radial-gradient(
    circle at center,
    transparent,
    rgba(47, 46, 46, 0.3)
  );
  z-index: 3;
  background-size: 4px 4px;
  pointer-events: none;
}

.crt::after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(18, 16, 16, 0.1);
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.1s infinite;
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
