@font-face {
  font-family: "Tahoma";
  src: url("/fonts/tahoma/subset-Tahoma.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TahomaBold";
  src: url("/fonts/tahoma/subset-Tahoma-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "Tahoma", system-ui, sans-serif;
  background: #ffffff;
  background-size: 224px;
  cursor: url("/assets/cursor.ico"), default;
}

button,
a,
.actionable {
  cursor: url("/assets/cursor-pointer.ico"), pointer !important;
}

button {
  font-size: 1em;
  font-family: "Tahoma";
}

.inactive-text {
  text-shadow: 0.5px 1px 0px rgb(255, 255, 255);
  color: gray;
}

.pixelated {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.title-bar {
  height: 28px;
  font-size: 14px;
}

.title-bar-controls button {
  min-width: 21px;
  min-height: 22px;
  margin-left: 2px;
  background-position: 50%;
  image-rendering: auto;
}

.title-bar-text > p {
  margin-left: 0.4em;
}

.window {
  font-size: 1.1em;
}

ul.tree-view {
  font-family: "Tahoma", system-ui, sans-serif;
  font-size: 1em;
  background: #ffffff00;
}

ul.tree-view ul {
  margin-top: 3px;
  margin-left: 16px;
  padding-left: 16px;
  border-left: 2px dotted grey;
}

ul.tree-view details > summary:before {
  text-align: center;
  font-size: 10px;
  display: block;
  float: left;
  content: "➕";
  border: 2px solid grey;
  width: 16px;
  height: 16px;
  line-height: 16px;
  margin-right: 5px;
  padding-left: 2px;
  background-color: #fffffffa;
}

.fieldset-fix .field-row label {
  cursor: url("/assets/cursor-pointer.ico"), pointer !important;
}

/* CSS talk bubble - Taken from https://codepen.io/Founts/pen/AJyVOr */
.talk-bubble {
  margin: 40px;
  display: inline-block;
  position: relative;
  width: 300px;
  height: auto;
  background-color: lightyellow;
}

/* talk bubble contents */
.talktext {
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}
.talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 38px;
  bottom: auto;
  border: 12px solid;
  border-color: lightyellow lightyellow transparent transparent;
}

/* Gradient background - based on https://codepen.io/coreh/pen/LQJBLa?editors=1100 */
.crt::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-blend-mode: multiply;
  background: radial-gradient(
    circle at center,
    transparent,
    rgba(47, 46, 46, 0.3)
  );
  z-index: 3;
  background-size: 4px 4px;
  pointer-events: none;
}

.crt::after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(18, 16, 16, 0.1);
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.1s infinite;
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
