---
import ContainerLayout from "../layouts/ContainerLayout.astro";
import FileExplorer from "./fileExplorer";
---

<ContainerLayout title="ᴋᴇʀɴᴇʟ ᴘᴀɴɪᴄ">
  <p class="absolute bottom-0 right-4">
    Y29uZWN0YWRvIHBvciBqYW1lcyBAZXJhbWFqYWFydmk=
  </p>

  <span class="hidden lg:block">
    <FileExplorer client:only="react" />
  </span>
</ContainerLayout>
