---
interface Props {
  title: string;
  description: string;
  ogImage: string;
  url: string;
}

const { title, description, ogImage, url } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Kernel Panic" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/kernelpanic.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Open Graph meta tags -->
    <meta property="og:title" content={title ? title : "Kernel Panic"} />
    <meta
      property="og:description"
      content={description ? description : "You is not the only you out there, see the real you inside you."}
    />
    <meta property="og:image" content={ogImage ? ogImage : "/og.webp"} />
    <meta property="og:url" content={url ? url : "https://eramajarvi-project-spellbound.vercel.app"} />
    <meta property="og:type" content="website" />

    <!-- Optional Twitter card meta tags for better Twitter sharing -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title ? title : "Kernel Panic"} />
    <meta
      name="twitter:description"
      content={description ? description : "You is not the only you out there, see the real you inside you."}
    />
    <meta name="twitter:image" content={ogImage ? ogImage : "/og.webp"} />
  </head>
  <body>
    <slot />
  </body>
</html>
